:root {
  --main: #358BA0;
  --correct: #7CFC00;
  --wrong: #C00000;
  --orange: #ED9121;
  --orange-disabled: #ed912168;
  --gold: #FFD700;
}

body {
  background-color: black;
  position: relative;
  user-select: none;
  font-family: 'San Francisco Display';
  aspect-ratio: 16/9;
  margin: auto;
}

p,
span {
  color: white;
  text-align: center;
  margin: 0;
}

@font-face {
  font-family: 'San Francisco Display';
  src: url('../fonts/SFCompactDisplay-Bold.otf');
}

#playersLockinStatus {
  position: absolute;
  left: 5%;
  width: 40%;
}

#player1 {
  position: absolute;
  left: 0;
  width: 33.33%;
}

#player2 {
  position: absolute;
  left: 33.33%;
  width: 33.33%;
}

#player3 {
  position: absolute;
  left: 66.66%;
  width: 33.33%;
}

.playerNameDiv,
.label {
  font-size: 15pt;
  border: 3px solid var(--main);
  background-color: black;
  text-wrap-mode: nowrap;
  overflow: hidden;
}

.playerAnsDiv,
.money {
  font-size: 25pt;
  border: 3px solid var(--main);
  background-color: black;
  color: white;
}

#totalMoney {
  position: absolute;
  width: 40%;
  right: 5%;
}

#totalMoney div {
  font-family: 'San Francisco Display';
  text-align: center;
  background-color: black;
}

.totalMoneyDivs {
  font-size: 25pt;
  width: 33.33%;
  position: absolute;
}

#ifWrong {
  left: 0;
}

#ifWrong div {
  border-color: var(--wrong);
}

#currentTotalDiv {
  left: 33.33%;
}

#currentTotalDiv div {
  border-color: white;
}

#ifCorrect {
  left: 66.66%;
}

#ifCorrect div {
  border-color: var(--correct);
}


.playerAnsP {
  height: 40px;
}

#buzzer {
  position: absolute;
  top: 100px;
  height: 150px;
  width: calc(89% - 190px);
  left: calc(9% + 30px);
  font-family: 'San Francisco Display';
  font-size: 20pt;
}

#gianhquyen {
  position: absolute;
  top: 100px;
  height: 150px;
  width: 150px;
  right: calc(11% - 28px);
  font-family: 'San Francisco Display';
  font-size: 20pt;
  background-color: orange;
}

.ans button:hover {
  background-color: var(--main);
  color: black;
}



#q {
  position: absolute;
  transform: skew(-18deg);
  border: 3px solid var(--main);
  background-color: black;
  color: white;
  width: 80%;
  height: 100px;
  top: 300px;
  left: 9%;
  box-sizing: border-box;
}

#q div {
  font-size: 25pt;
  transform: skew(18deg);
  text-align: center;
}

.letter {
  font-size: 40pt;
  transform: skew(-18deg);
  border: 3px solid var(--main);
  background-color: black;
  width: 80px;
  box-sizing: border-box;
  position: absolute;
}

.letter p {
  transform: skew(18deg);
}

#a {
  top: 397px;
  left: calc(9% - 27px);
}

#b {
  top: 464px;
  left: calc(9% - 49px);
}

#c {
  top: 531px;
  left: calc(9% - 71px);
}

.ans {
  position: absolute;
  transform: skew(-18deg);
  height: 70px;
  border: 3px solid var(--main);
  box-sizing: border-box;
  background-color: black;
  color: white;
  width: calc(80% - 77px);
  pointer-events: all;
}

.ans:disabled,
#del:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.ans div {
  transform: skew(18deg);
  font-family: 'San Francisco Display';
  font-size: 25pt;
  text-align: left;
  margin-left: 5px;
}

#ans1 {
  top: 397px;
  left: calc(9% + 50px);
}

#ans2 {
  top: 464px;
  left: calc(9% + 28px);
}

#ans3 {
  top: 531px;
  left: calc(9% + 6px);
}

#del {
  position: absolute;
  font-size: 25pt;
  font-family: 'San Francisco Display';
  transform: skew(-18deg);
  border: 3px solid var(--main);
  background-color: black;
  color: white;
  top: 598px;
  right: calc(11% + 88px);
}

#del div {
  transform: skew(18deg);
}

.ans:hover,
#del:hover {
  background-color: var(--main);
  color: black;
}

#heartsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  position: absolute;
  top: 257px;
  right: calc(11% - 22px);
  width: 90px;
  height: 40px;

  font-size: 15pt;
  transform: skew(-18deg);
  border: 3px solid var(--main);
  background-color: black;
}

.heart {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
  transform: skew(18deg);
}

#rnq {
  position: absolute;
  top: 257px;
  left: calc(9% + 23px);
  width: 300px;
  height: 40px;

  text-align: center;
  font-family: 'San Francisco Display';
  font-size: 25pt;
  color: white;

  transform: skew(-18deg);
  border: 3px solid var(--main);
  background-color: black;
}

#timer {
  position: absolute;
  top: 257px;
  right: calc(11% + 230px);
  width: 70px;
  height: 40px;

  text-align: center;
  font-family: 'San Francisco Display';
  font-size: 25pt;
  color: white;

  transform: skew(-18deg);
  border: 3px solid var(--main);
  background-color: black;
}

#thisQuestionMoney {
  position: absolute;
  top: 257px;
  right: calc(11% + 71px);
  width: 155px;
  height: 40px;

  text-align: center;
  font-family: 'San Francisco Display';
  font-size: 25pt;
  color: white;

  transform: skew(-18deg);
  border: 3px solid var(--main);
  background-color: black;
}

#thisQuestionMoney div,
#timer div,
#rnq div {
  transform: skew(18deg);
}